.container {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  margin: 50px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 0 auto 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
 
}

.inputGroup {
  position: relative;
  margin-bottom: 1.5rem;
}

.inputGroup input {
  width: 80%;
  padding: 12px 40px 12px 40px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.inputGroup svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #999;
}

.togglePassword {
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
  position: absolute;
  right: 440px;
  top: 88%;
  transform: translateY(-50%);
  z-index: 1;
}



.btn {
  width: 100%;
  padding: 12px;
  background: #1ec6d9;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #17aabf;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.footerText {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.footerText a {
  color: #1ec6d9;
  text-decoration: none;
  font-weight: bold;
}
